/** Step one **/


/** Step two **/

h2,h3,h4,h5,h6
{
    font-family:"Titan one static",sans-serif;
}

/** Step three **/
h1{
    font-size:46px;
    font-family: "Titan One", sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
    color:saddlebrown;
}

/** Step four **/
p,a,li{
    font-family: "Titan One", sans-serif;
}

/** Step five **/
p span{
    color:orange;
}
/** Step six **/
h3{
    font-size:2.5em;
    text-shadow:3px 4px 2px rgba(0,0,0,.7)
}
